<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치를 기반으로 주변 맛집을 표시하기 위해 위치 접근이 필요합니다.
현재 위치를 기반으로 주변 맛집을 표시하기 위해 위치 접근이 필요합니다.
현재 위치를 기반으로 주변 맛집을 표시하기 위해 위치 접근이 필요합니다.
현재 위치를 기반으로 주변 맛집을 표시하기 위해 위치 접근이 필요합니다.
현재 위치를 기반으로 맛집을 표시하기 위해 필요합니다</string>
	<key>NAVER_CLIENT_ID</key>
	<string>$(NAVER_CLIENT_ID)</string>
	<key>NAVER_CLIENT_SECRET</key>
	<string>$(NAVER_CLIENT_SECRET)</string>
	<key>NMFNcpKeyId</key>
	<string>csdcma5zdc</string>
	<key>CFBundleName</key>
	<string>RecommandGuideMap</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>visitkorea.or.kr</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>tong.visitkorea.or.kr</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
