//
//  Secrets.xcconfig
//  RecommandGuideMap
//
//  Created by JaeYeongMAC on 11/10/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

NAVER_CLIENT_ID = RCKqWflQDheDWlKE9CE7
NAVER_CLIENT_SECRET = WF_BWpCj_l

TOUR_SERVICE_KEY = 536ee065f39affbbdae629132adf070de5704a369f4ea5a02e9a9f80d1f10a53
